<% provide(:title, 'About') %>
<div class="container-about">
<%# TODO: create a table with hours %>
    <div class="responsive-container">
      <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIDcDz57phezG4x6yev_hFjJ38z9h0pKY
            &q=Ken+Zaburo+Sushi+Kirkland+WA">
      </iframe>
    </div>
</div>