<% provide(:title, 'Contact') %>

<script>
  <%# make navbar section active %>
  $('#navbar-contact').addClass('active');
  <%# show spinner until iframe loads %>
  $(document).ready(function () {
      $('#google-location').on('load', function () {
          $('#spinner').hide();
      });
  });
</script>

<div class="container-about">
  <div class="container-content">
      <h2>Hours</h2>
      <div class="hours">
        <p><%= @hours.content.html_safe %></p>
      </div>
      <h2>Phone Number</h2>
          <p>425-823-2888</p>  
      <h2>Location</h2>
      <%= image_tag 'preloader-white.gif', id: 'spinner', size: '30x30' %>
      <div class="responsive-container" style="height: 58vh;">
        <iframe
        id="google-location"
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAIDcDz57phezG4x6yev_hFjJ38z9h0pKY
              &q=Ken+Zaburo+Sushi+Kirkland+WA">
        </iframe>
      </div>
  </div>
</div>