<% provide(:title, 'Home') %>
<div class="container-main">
	<div class="featurette">
		<%= image_tag asset_path("logo.bmp"), :class => "featurette-image pull-right", 'width' => '500dp', 'align' => 'top' %>

	</div>
	<hr>

	<!-- Description Blocks -->
	<div class="row-fluid">
		<div class="span4">
		  <h2></h2>
		  <p></p>
		</div>
		<div class="span4">
		  <h2>Easy to Use</h2>
		  <p>No coding. No text editors. Once you have your website up on Heroku, all you have to work with is Scratch CMS, which has clean design and is user friendly.</p>
		</div>

	</div>

	<hr>


</div>