<%# Background image %>
<div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-0px -810px;"></div>
<!--<div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;"></div>-->

<%# Progress bar at the bottom %>
<div id="progress" data-0="width:5%;background:rgb(255,41,41);" data-end="width:100%;background:rgb(255,41,41);"></div>


<div id="foreground" data-0="opacity:1;top:3%;transform-origin:0 0;" data-6000="opacity:1;top:-510%;">
  <div class="enclosure-first">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 2</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 3</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 4</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 5</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>
</div>


<div id="easing_wrapper" data-0="opacity:1;" data-300="opacity:0;">
  <div id="easing" data-0="left:75%" data-800="left:75%;">
    <h2>easing1</h2>
  </div>
</div>

<div id="easing_wrapper" data-0="opacity:1;" data-500="opacity:1;" data-1000="opacity:1;" data-1200="opacity:0;">
    <div id="easing" data-0="left:-50%" data-500="left:35%;">
        <h2>easing2</h2>
    </div>
</div>

<div id="easing_wrapper" data-0="opacity:1;" data-1300="opacity:1;" data-2100="opacity:1;" data-2300="opacity:0;">
  <div id="easing" data-0="left:130%" data-1500="left:130%" data-1700="left:75%;">
    <h2>easing3</h2>
  </div>
</div>

<div id="easing_wrapper" data-0="opacity:1;" data-2300="opacity:1;" data-3200="opacity:1;" data-3400="opacity:0;">
  <div id="easing" data-0="left:-50%" data-2500="left:-50%" data-2700="left:35%;">
    <h2>easing4</h2>
  </div>
</div>

<div id="easing_wrapper" data-0="opacity:1;" data-3500="opacity:1;" data-4400="opacity:1;" data-4600="opacity:0;">
  <div id="easing" data-0="left:130%" data-3700="left:130%" data-3900="left:75%;">
    <h2>easing5</h2>
  </div>
</div>


<!--<div id="easing_wrapper" data-0="opacity:0;" data-1500="opacity:1;" data-3400="opacity:0;">-->
  <!--<div id="easing" data-0="left:120%" data-800="left:75%;">-->
    <!--<h2>easing3</h2>-->
  <!--</div>-->
<!--</div>-->


<!--<div id="easing_wrapper" data-0="opacity:0;" data-1500="opacity:1;" data-3400="opacity:0;">-->
  <!--<div id="easing" data-0="left:120%" data-800="left:75%;">-->
    <!--<h2>easing4</h2>-->
  <!--</div>-->
<!--</div>-->


<!--<div id="easing_wrapper" data-0="opacity:0;" data-1500="opacity:1;" data-3400="opacity:0;">-->
  <!--<div id="easing" data-0="left:120%" data-800="left:75%;">-->
    <!--<h2>easing5</h2>-->
  <!--</div>-->
</div>

<div id="foreground" data-5000="opacity:1;top:100%;transform-origin:0 0;" data-6000="opacity:1;top:15%;">
  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 6</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>
</div>



<%= javascript_include_tag "skrollr.min.js" %>


<!--[if lt IE 9]>
<script type="text/javascript" src="../skrollr-ie/dist/skrollr.ie.min.js"></script>
<![endif]-->

<script type="text/javascript">
    var s = skrollr.init({
        edgeStrategy: 'set',
        easing: {
            WTF: Math.random,
            inverted: function(p) {
                return 1-p;
            }
        }
    });
</script>