<% provide(:title, 'Home') %>
<div class="container-main">


	<div id="ei-slider" class="ei-slider">
	    <ul class="ei-slider-large">
	        <li style="opacity: 1;">
	            <%= image_tag asset_path("1.jpg")%>
	            <div class="ei-title">
	                <h2>Creative</h2>
	                <h3>Geek</h3>
	            </div>
	        </li>
	        <li style-"opacity: 0;">
	            <%= image_tag asset_path("logo.bmp")%>
	            <div class="ei-title">
	                <h2>Creative</h2>
	                <h3>Geek</h3>
	            </div>
	        </li>
	    </ul>

	</div>

	<hr>

	<!-- Description Blocks -->
	<div class="row-fluid">
		<div class="span4">
		  <h2></h2>
		  <p></p>
		</div>
		<div class="span4">
		  <h2>Easy to Use</h2>
		  <p>No coding. No text editors. Once you have your website up on Heroku, all you have to work with is Scratch CMS, which has clean design and is user friendly.</p>
		</div>

	</div>

	<hr>


</div>