<%# make navbar section active %>
<script>
    $('#navbar-order-online').addClass('active');
</script>

<div class="container-about">
	<div class="container-content">
	  <h1><%= @order.title %> </h1>
	  <p><%= @order.content.html_safe %></p>
	</div>
</div>