<div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-0px -510px;"></div>
<!--<div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;"></div>-->
<!--<div id="bg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;"></div>-->

<div id="progress" data-0="width:5%;background:rgb(255,41,41);" data-end="width:100%;background:rgb(255,41,41);"></div>


<div id="foreground" data-0="opacity:1;top:3%;transform-origin:0 0;" data-6000="opacity:1;top:-510%;">
  <div class="enclosure-first">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 2</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 3</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 4</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>

  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 5</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>
</div>

<div id="foreground" data-5000="opacity:1;top:100%;transform-origin:0 0;" data-6000="opacity:1;top:15%;">
  <div class="enclosure">
    <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr 6</a></h1>
    <h2>parallax scrolling for the masses</h2>
    <p>let's get scrollin' ;-)</p>
    <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
  </div>
</div>

<%= javascript_include_tag "skrollr.min.js" %>


<!--[if lt IE 9]>
<script type="text/javascript" src="../skrollr-ie/dist/skrollr.ie.min.js"></script>
<![endif]-->

<script type="text/javascript">
    var s = skrollr.init({
        edgeStrategy: 'set',
        easing: {
            WTF: Math.random,
            inverted: function(p) {
                return 1-p;
            }
        }
    });
</script>