<% if yield(:mode) == 'management' %>

	<footer id="footer-container" class="footer navbar navbar-fixed-bottom">

		<table>
			<tr>
				<td class="cell-left" rowspan="2">
					&nbsp;&nbsp; <%= link_to image_tag('ScratchCMS.png', alt: 'Scratch CMS', height: 50, width: 112), 'http://scratch-cms.herokuapp.com' %>
				</td>

			</tr>
			<tr>
				<td class="cell-right">
					<span class="copyright-text">
						Copyright &#169; 2014 Ken Zaburo Sushi Bar and Asian Grill · All Rights Reserved.
					</span>
				</td>
			</tr>
		</table>

	</footer>

<% else %>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row credits">
                <div class="row copyright">
                    <div class="span12">
                        Copyright &#169; 2014 Ken Zaburo Sushi Bar and Asian Grill. All rights reserved.
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-52369682-1', 'auto');
  		ga('send', 'pageview');

	</script>
<% end %>